- var email = ''
- var phone = ''

if data.email
  - email = data.email
if data.phone
  - phone = data.phone


section.question: .wrapper.is-wide
  .question-ask
    h3.question-title(data-id='question_header') !{copy.question_header}
    p.question-description(data-id='question_p') !{copy.question_p}
    p#question-story-error.error  * Du måste ställa en fråga ↓
    textarea#question-story(name='question', placeholder='Skriv här...')
      
  .question-fields
    h3.question-thanks Tack!
    .question-field.is-email
      p#question-email-error.error  * Ogilitig E-post ↓
      input#question-email(type='email', name='email', placeholder='Din e-post', value='#{email}')
        
    .question-field.is-email
      p#question-phone-error.error   * Måste fyllas i ↓
      input#question-phone(type='phone', name='phone', placeholder='Telefonnummer', value='#{phone}')
        
    .question-field.is-member
      input#question-checkbox(type='checkbox', name='member')
      label(for='question-checkbox') Jag är medlem i Vision
      
    .question-field.is-submit
      button.button#question-send.is-yellow.form-send Skicka
        
    .question-field.is-pul
      small Genom att klicka 'Skicka' så godkänner du att vi behandlar dina uppgifter enligt <a href='http://www.datainspektionen.se/lagar-och-regler/personuppgiftslagen/' target='_blank'>PUL</a>
        
  .question-pdf
    a.question-pdf-link(href='#{data.berattelse.pdf.url}', data-id='question_pdf', target='_blank') !{copy.question_pdf}
    
    a.question-pdf-link2(href='/img/brickunderlagg_final2.pdf', data-id='question_pdf_2', target='_blank') !{copy.question_pdf_2}
